@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");
:root {
  --bgcol: #ffffff;
  --textcol: #0F0F0F; 
}
body {
  font-family: Inconsolata, sans-serif;
  height: 100vh;
  background-color: var(--bgcol);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textcol);
  fill: var(--textcol);
  transition-duration: 0.2s;
  overflow: hidden;
}

#clicker {
  padding: 0;
  border-radius: 50%;
  align-items: center;
  border: none;
  cursor: pointer;
  background: none;
  transition-duration: 0.2s;
  color: var(--textcol);
  fill: var(--textcol);
}

#clicker:hover {
  transform: scale(0.8;
}

#clicker:active {
  transform: scale(0.5);
}

#themechange {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  border-radius: 50%;
  align-items: center;
  color: var(--textcol);
  fill: var(--textcol);
  background-color: var(--bgcol);
  border: 4px solid var(--textcol);
  transition-duration: 0.2s;
}

#count {
  font-weight: bold;
  font-size: 24px;
}

#reset {
  background-color: var(--bgcol);
  border: 4px solid var(--textcol);
  font-family: Inconsolata, sans-serif;
  color: var(--textcol);
  fill: var(--textcol);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 0px 0px var(--textcol);
  transform: translateY(-5px);
  transition-duration: 0.2s;
}

#reset:hover {
  box-shadow: 0px 7px 0px 0px var(--textcol);
  transform: translateY(-7px);
}

#reset:active {
  box-shadow: 0px 0px 0px 0px var(--textcol);
  transform: none;
}

#debug {
  position: absolute;
  bottom: 0px;
  left: 5px;
  border-radius: 10px 10px 0px 0px;
  border: none;
  color: var(--bgcol);
  fill: var(--bgcol);
  background-color: var(--textcol);
  transition-duration: 0.4s;
}

#debug-menu {
  color: var(--bgcol) !important;
  padding: 10px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 150px;
  background: var(--textcol);
  width: 100vw;
  transform: translateY(170px);
  transition-duration: 0.4s;
}

#debug-menu button {
  background-color: var(--textcol);
  border: 4px solid var(--bgcol);
  font-family: Inconsolata, sans-serif;
  color: var(--bgcol);
  fill: var(--bgcol);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 0px 0px var(--bgcol);
  transform: translateY(-5px);
  transition-duration: 0.2s;
}

#debug-menu button:hover {
  box-shadow: 0px 7px 0px 0px var(--bgcol);
  transform: translateY(-7px);
}

#debug-menu button:active {
  box-shadow: 0px 0px 0px 0px var(--bgcol);
  transform: none;
}

#debug-menu input {
  background-color: var(--textcol);
  border: 4px solid var(--bgcol);
  font-family: Inconsolata, sans-serif;
  color: var(--bgcol);
  fill: var(--bgcol);
  padding: 10px;
  border-radius: 5px;
}

